@charset "utf-8";


/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}


/*-------------------------
	Demo page
-------------------------*/

body {
	background-color: #23232e;
	font: 14px normal Arial, Helvetica, sans-serif;
	z-index: -4;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}
