{% extends 'base.html.twig' %}

{% block title %}
  Comics
{% endblock %}

{% block stylesheets %}
  <link href="assets/css/styles.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
  <div class="filemanager">

    <div class="search">
      <input type="search" placeholder="Find a file.."/>
    </div>

    <div class="breadcrumbs"></div>

    <ul class="data"></ul>

    <div class="nothingfound">
      <div class="nofiles"></div>
      <span>No files here.</span>
    </div>

  </div>

{% endblock %}

{% block javascripts %}
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="assets/js/script.js"></script>
{% endblock %}
